/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--accent-color);
  font-family: var(--fonts), sans-serif;
  background-color: var(--backround);
  background-image: var(--backround-image);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--font-weight);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.size {
  inline-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block-start: 100px;
  margin-block-end: 100px;
  border: 2px solid var(--accent-color);
  background-color: var(--backround);
}

.logo__title {
text-decoration: none;
font-family: var(--fonts-accent), fantasy;
margin-top: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem);
margin-bottom: 20px;
font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__title {
  font-family: var(--fonts-accent), fantasy;
  margin-bottom: 25px;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
}

.theme-menu {
  margin-bottom: 25px;
  padding-left: 15px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.theme-menu__button {
  position: relative;
  display: block;
  margin: 0;
  border: none;
  padding: 0;
  font-family: var(--fonts-accent);
  font-weight: normal;
  font-size: 14px;
  text-transform: uppercase;
  background: none;
  cursor: pointer;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  top: 0;
  left: -13px;
  animation: point infinite 0.5s ease-in-out alternate;
}

.theme-menu__button:disabled {
  animation: opas 0.3s ease forwards;
  pointer-events: none;
}

.theme-menu__button:hover {
  animation: opas 0.3s ease forwards;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 2px;
  outline: none;
  background-color: var(--accent-color);
  transition: transform 0.3s ease;
  transform: scaleX(0);
  transform-origin: 0 100%;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.list__item {
  margin-bottom: 50px;
  border: 2px solid var(--accent-color);
  background-color: var(--backround);
}

.item__title {
  padding: 4px 24px 6px 10px;
  font-size: 18px;
  font-variation-settings: "wght" var(--font-weight-title);
}

.item__image {
  position: relative;
}

.image__text {
  position: absolute;
  top: 30px;
  right: 25px;
  opacity: 0.5;
  color: var(--accent-color);
  font-family: var(--fonts-accent), fantasy;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  text-shadow: 1px 0px 0px var(--shadow-color), -1px 0px 0px var(--shadow-color),
    0px 1px 0px var(--shadow-color), 0px -1px 0px var(--shadow-color);
  mix-blend-mode: hard-light;
}

@media (width <= 400px) {
  .image__text {
    top: 25px;
    right: 11px;
  }
}

@supports (
  (text-stroke: 1px var(--shadow-color)) or
    (-webkit-text-stroke: 1px var(--shadow-color))
) {
  .image__text {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--shadow-color);
    text-stroke: 1px var(--shadow-color);
  }
}

.image {
  margin-bottom: 21px;
  border-top: 2px solid var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
}

.item__content {
  display: flex;
  flex-direction: column;
  gap: 27px;
  margin: 0 25px 25px 25px;
}

.item__text {
  font-size: 18px;
  line-height: 21px;
}


.item__button {
  display: flex;
  justify-content: end;
  gap: 6px;
  margin-right: 25px;
  margin-bottom: 24px;
}

.icon__button {
  height: 39px;
  margin: 0;
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
}

.icon__button:focus {
  outline: none;
}

.icon__button:focus-visible {
  outline: 2px solid var(--accent-color);
  outline-offset: -2px;
  transition: outline 0.3s ease;
}

.item__button-text {
  position: relative;
  margin: 0;
  border: 2px solid var(--accent-color);
  overflow: hidden;
  background-color: var(--backround);
  cursor: pointer;
}

@media (width <= 400px) {
  .button__dialog {
    flex-direction: column;
    align-items: center;
  }
}

.item__button-text_size {
  min-width: 130px;
  height: 38px;
  padding: 9px 17px;
}

.button__text {
  position: relative;
  z-index: 1;
  color: var(--button-color);
  font-family: var(--fonts-accent), fantasy;
  font-size: 14px;
  line-height: 90%;
  mix-blend-mode: difference;
}


.button__dialog {
  display: flex;
  align-items: center;
  gap: 8px;
  min-height: 55px;
  margin-bottom: 105px;
  padding: 17px 21px 13px 19px;
}

.dialog__icon {
  position: relative;
  z-index: 1;
  width: 21px;
  height: 21px;
  color: var(--button-color);
  mix-blend-mode: difference;
}

@media (width <= 400px) {
  .dialog__icon {
    width: 28px;
    height: 28px;
    margin: 0 auto;
  }
}

.item__button-text:focus {
  outline: none;
}

.item__button-text:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
  outline: none;
  transition: box-shadow 0.3s ease;
}

.item__button-text::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  outline: none;
  background-color: var(--accent-color);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: 0 100%;
}

.item__button-text:hover::after {
  transform: scaleX(1);
}

.dialog__modal[open] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 30px;
  color: var(--accent-color);
  background-color: var(--backround);

}

.dialog__modal::backdrop {
  opacity: 0.75;
  background-color: #000;
}

.modal__content {
  display: flex;
  gap: 20px;
}

.modal__icon {
  width: 39px;
  aspect-ratio: 1;
}

.modal__text {
  max-width: 234px;
  font-family: var(--fonts-accent), fantasy;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.dialog__text {
  text-transform: uppercase;
}

.image_blur {
  filter: blur(3px);
}

.image_grayscale {
  filter: grayscale(0.8);
}

.image_sepia {
  filter: sepia(80%);
}

.image_invert {
  filter: invert(60%);
}

.image_contrast {
  filter: contrast(1.5);
}

.image_sepia-contrast {
  filter: sepia(60%) contrast(1.5);
}

.image_blur-grayscale {
  filter: blur(2px) grayscale(0.5);
}
